<!DOCTYPE html>
<html><head>
<title>e-learn</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                  <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="kickstart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" media="all" />                               <!-- KICKSTART -->
</head><body>
<!-- ===================================== END HEADER ===================================== -->



	<!-- MENU HORIZONTAL -->

	<ul class="menu">
	<li class="current"><a href="/">Home</a></li>
	<!-- <li><a href="/classes">Classes</a></li> -->
	</ul>



<div class="grid">
	<div class="col_12">
		<div class="col_9">
			<h3>Welcome to e-Learn</h3>
			<!-- <p><img class="align-left" src="http://placehold.it/400x350/4D99E0/ffffff.png&text=180x150" width="180" height="150" /> -->
			<p>A learning system based on formalised teaching but with the help of electronic resources is known as E-learning. While teaching can be based in or out of the classrooms, the use of computers and the Internet forms the major component of E-learning. E-learning can also be termed as a network enabled transfer of skills and knowledge, and the delivery of education is made to a large number of recipients at the same or different times. Earlier, it was not accepted wholeheartedly as it was assumed that this system lacked the human element required in learning.E-learning has proved to be the best means in the corporate sector, especially when training programs are conducted by MNCs for professionals across the globe and employees are able to acquire important skills while sitting in a board room, or by having seminars, which are conducted for employees of the same or the different organizations under one roof. The schools which use E-learning technologies are a step ahead of those which still have the traditional approach towards learning.</p>

  <button type="button" class="btn btn-dark"><a href="/register"> Sign up for free</a></button>

		</div>

	<div class="col_3 cd">
<h3>Student and Instructor Login</h3>

<form  action="/" method="post">
	<label>Username: </label>
	<input type="text" name="user" >
	<label>Password: </label>
	<input type="password" name="password" >

	<!-- <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
                       Sign In with Google
          </a>
        </div>
      </div> -->
      <button type="submit" class="gty" style="text-align:center"  name="button">Log in</button>

</form>
	</div>

</div>
</div>

<hr>


<!-- =====================================
	GRIDS/COLUMNS
===================================== -->

	<!-- FOURTHS -->
  <!-- <h4>Latest Classes</h4>
<% for(var i=0;i<dool.length;i++){%>
  <div class="col_4 block ">
		<h4><%=dool[i].title%></h4>
    <p><%=dool[i].description%></p>
    <a class="button" href="/classes/<%=dool[i].title%>/details">Class Details</a>
</div>
<%}%> -->





<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2019 All Rights Reserved.Made by Harsh Singhal
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1641401-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>
